.container {
  width: 100%;
  padding-inline: 20px;
  @media (min-width: 768px) {
    padding-inline: 40px;
  }
}

.container__content {
  width: 100%;
  margin-inline: auto;
  @media (min-width: 900px) {
    max-width: 1222px;
  }
}

.text-alert {
  color: var(--color-text-alert);
}

.top {
  clear: both;
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg-theme);
  z-index: -1;
  background-size: cover;
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  @media (orientation: portrait) {
    background-image: url("/img/top-bg-texture-mobile.png");
  }
  @media (orientation: landscape) {
    background-image: url("/img/top-bg-texture.png");
  }
}

.top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;

  @media (orientation: portrait) {
    background-image: url("/img/top-bg-mobile.png");
    background-size: contain;
  }
  @media (orientation: landscape) {
    /* background-image: url("/img/top-bg-laptop.png");
    background-size: cover; */
    display: none;
  }
}

.top__container {
  padding-top: 18px;
  min-height: 100vh;
}

.top__logo {
  width: 213px;
  height: auto;
}

.top__content {
  margin-top: 37px;
}

.top__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: clamp(1px, 9.7vw, 9.7vw);
  line-height: 111%;
  text-transform: uppercase;
  color: var(--color-text-primary);
  letter-spacing: 0.03em;
  display: grid;
  grid-template-columns: 1fr;

  @media (orientation: landscape) {
    font-size: 60px;
  }
}

.top__heading > span:nth-child(3) {
  justify-self: center;
}

.top__heading > span:nth-child(4) {
  justify-self: end;
}

.top__subheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  margin-top: 24px;
  margin-bottom: 32px;
}

.top__button-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.top__button {
  border-radius: 66px;
  padding: 14px;
  border-style: bold;
  border-width: 1px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.top__button_primary {
  background-color: var(--color-bg-dark);
  border-color: var(--color-bg-dark);
  color: var(--color-text-secondary);
}

.top__button_secondary {
  background-color: var(--color-bg-light);
  border-color: var(--color-bg-dark);
  /* opacity: 0.9; */
}

/* потом скрыть это по-другому */
.top__fake-mask {
  float: right;
  width: 0;
  @media (orientation: landscape) {
    width: 100%;
    shape-outside: url("/img/top-bg-laptop.png");
  }
}

.introduction {
  padding-top: 48px;
}

.introduction__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.introduction__heading_flex {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (min-width: 756px) {
    display: initial;
    flex-direction: unset;
    gap: unset;
  }
}

.introduction__first-image-container {
  width: 100%;
  aspect-ratio: 1.576;
}

.introduction__first-image {
  width: 100%;
  height: 100%;
}

.introduction__table {
  margin-top: 28px;
  margin-bottom: 25px;
}

.introduction__queries {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text-highlight);
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table__item {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 177%;
  color: var(--color-text-primary);
  padding-block: 10px;
}

.table__item:not(:last-child) {
  border-bottom: 1px solid var(--color-bg-placeholder);
}

.table__title {
  opacity: 0.7;
  margin-right: 12px;
}

.table__value {
  font-weight: 600;
}

.table__value > span {
  text-decoration: line-through;
  text-decoration-color: var(--color-text-alert);
  margin-right: 8px;
}

.stages {
  padding-top: 122px;
}

.stages__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--color-text-primary);
  letter-spacing: 0.02em;
  position: relative;
}

.stages__heading::after {
  content: "Будущие источники обогащения васюкинцев";
  position: absolute;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text-highlight);
  left: 0;
  bottom: -55px;
  text-transform: initial;
  letter-spacing: 0;
}

.stages__list-container {
  height: 364px;
  width: 100%;
  margin-top: 204px;
}

.participants {
  padding-top: 121px;
  padding-bottom: 99px;
}

.participants__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.participants__list-container {
  margin-top: 40px;
  height: 464px;
  width: 100%;
}

.footer {
  padding-block: 78px;
  background-color: var(--color-bg-theme);
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-text-primary);
  opacity: 0.6;
}

.participant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant__img-container {
  padding-inline: 46px;
  width: 100%;
}

.participant__img {
  width: 100%;
}

.participant__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text-primary);
  margin-top: 26px;
  margin-bottom: 8px;
}

.participant__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-text-primary);
  opacity: 0.6;
}

.participant__button {
  border: 1px solid var(--color-text-highlight);
  border-radius: 62px;
  padding: 6px 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 127%;
  color: var(--color-text-highlight);
  margin-top: 20px;
  transition: 300ms;
}

.participant__button:hover {
  background-color: var(--color-text-highlight);
  color: var(--color-text-secondary);
}
